<b> <i> Alex Kendall & Samuel Ogbonnaya, March 2022, Radar Programme AI Tech Stream, Python Exercise Sheet </i> </b> <br> <br>

**Warm ups**

Print all numbers in the given list that are greater than 5

In [ ]:
lst = [1,5,2,6,8,3,3,7,12,0,9]

6
8
7
12
9

Print the sum of the given list<br>
<i> without using any inbuilt functions</i>

In [ ]:
lst = [1,2,3,5,6,7,8,9,12,24]

77

Write a function that doubles the given input

In [ ]:
def double(x):

In [ ]:
double(3)

6

Write a function that multiplies its two inputs by eachother:

In [ ]:
def multiply(x,y):

In [ ]:
multiply(2,3)

6

Join these two lists

In [ ]:
lst1 = [1,2,3,4]
lst2 = [5,6,7,8]

In [ ]:
lst3

[1, 2, 3, 4, 5, 6, 7, 8]

Create a dictionary that maps lst1 -> lst2

In [1]:
lst1 = ["a","b","c"]
lst2 = [1,2,3]

In [3]:
map

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
map["a"]

1

In [ ]:
map["c"]

3

Lets load in the "iris" dataset from the Pandas library

In [ ]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [ ]:
type(iris)

pandas.core.frame.DataFrame

Display this dataframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Find the mean & median of the numeric columns

In [ ]:
#mean + other info

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
#median

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

Drop the "species" column

In [ ]:
iris_new.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Find the sum of the "petal_length" column

563.7000000000004

Write a single for loop to print elements of list lst1

In [ ]:
lst1 = [ [1,2,3], [4,5,6] ]

[1, 2, 3]
[4, 5, 6]

Write nested for loop to print each individual element from list within lst1

1
2
3
4
5
6

Make sure you understand how these loops work, they're very important.
<br>

<br>
Now time for some exercises that should make you really think!

**Exercise 1**

Note, when I say "without using any inbuilt functions" I mean Python default functions such as max(), sum() etc. or external library functions. Write the logic yourself!

Write a function that returns the greatest element of a list <br>
<i> without using any inbuilt functions</i>

In [ ]:
greatest([4,2,5,9])

9

**Exercise 2**

Print all even numbers between 0-101

**Exercise 3**

Write a function that reverses the order of a given list
<br> <i> without using any inbuilt functions </i>

In [ ]:
lst = [0,2,0,2,"community","radar","hello"]

Hint, access the last element of a list:

In [ ]:
lst[-1]

'hello'

In [ ]:
def rev(lst):

In [ ]:
rev(lst)

['hello', 'radar', 'community', 2, 0, 2, 0]

**Exercise 4**

Print all elements of the given list that dont contain a 5

In [ ]:
lst = [1,10,15,37,52,55,100,501,505]

**Exercise 5**

In [ ]:
#load the dataframe
import pandas as pd
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [ ]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Replace all instances of "setosa" with "changed"

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2    changed
1             4.9          3.0           1.4          0.2    changed
2             4.7          3.2           1.3          0.2    changed
3             4.6          3.1           1.5          0.2    changed
4             5.0          3.6           1.4          0.2    changed
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Count the number of different species

versicolor    50
virginica     50
changed       50
Name: species, dtype: int64

Remove all rows with a sepal_length < 5

In [ ]:
iris2 =

In [ ]:
iris2

     sepal_length  sepal_width  petal_length  petal_width     species
1             4.9          3.0           1.4          0.2     changed
2             4.7          3.2           1.3          0.2     changed
3             4.6          3.1           1.5          0.2     changed
6             4.6          3.4           1.4          0.3     changed
8             4.4          2.9           1.4          0.2     changed
9             4.9          3.1           1.5          0.1     changed
11            4.8          3.4           1.6          0.2     changed
12            4.8          3.0           1.4          0.1     changed
13            4.3          3.0           1.1          0.1     changed
22            4.6          3.6           1.0          0.2     changed
24            4.8          3.4           1.9          0.2     changed
29            4.7          3.2           1.6          0.2     changed
30            4.8          3.1           1.6          0.2     changed
34            4.9          3.1           1.5          0.2     changed
37            4.9          3.6           1.4          0.1     changed
38            4.4          3.0           1.3          0.2     changed
41            4.5          2.3           1.3          0.3     changed
42            4.4          3.2           1.3          0.2     changed
45            4.8          3.0           1.4          0.3     changed
47            4.6          3.2           1.4          0.2     changed
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica

Make a new column "multiple" which is the petal_length * petal_width

In [ ]:
iris2

     sepal_length  sepal_width  petal_length  petal_width     species  multiple
1             4.9          3.0           1.4          0.2     changed      0.28
2             4.7          3.2           1.3          0.2     changed      0.26
3             4.6          3.1           1.5          0.2     changed      0.30
6             4.6          3.4           1.4          0.3     changed      0.42
8             4.4          2.9           1.4          0.2     changed      0.28
9             4.9          3.1           1.5          0.1     changed      0.15
11            4.8          3.4           1.6          0.2     changed      0.32
12            4.8          3.0           1.4          0.1     changed      0.14
13            4.3          3.0           1.1          0.1     changed      0.11
22            4.6          3.6           1.0          0.2     changed      0.20
24            4.8          3.4           1.9          0.2     changed      0.38
29            4.7          3.2           1.6          0.2     changed      0.32
30            4.8          3.1           1.6          0.2     changed      0.32
34            4.9          3.1           1.5          0.2     changed      0.30
37            4.9          3.6           1.4          0.1     changed      0.14
38            4.4          3.0           1.3          0.2     changed      0.26
41            4.5          2.3           1.3          0.3     changed      0.39
42            4.4          3.2           1.3          0.2     changed      0.26
45            4.8          3.0           1.4          0.3     changed      0.42
47            4.6          3.2           1.4          0.2     changed      0.28
57            4.9          2.4           3.3          1.0  versicolor      3.30
106           4.9          2.5           4.5          1.7   virginica      7.65

Save this dataframe to a location of your choice

<br><br><br><br>

The challenges aren't necessary but see how far you get with them

**Challenge 1**

Write a function that prints fibbonnaci sequence up to a given number  <br>(0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144...)<br> seq[i] = seq[i-1] + seq[i-2] <br> each number is the sum of the preceeding two numbers <br>
e.g.

In [ ]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 34]

In [ ]:
def fib(N):

**Challenge 2**

Write a function that prints rows of stars in the following format up to a given N:<br>
e.g.

In [ ]:
stars(3)

*
**
***

In [ ]:
stars(7)

*
**
***
****
*****
******
*******

<i> Hint: you can stop python printing a new line at the end of each print statement by using: </i>

In [ ]:
print("*", end='')
print("*", end='')

**

In [ ]:
#notice the difference
print("*")
print("*")

*
*

In [ ]:
def stars(N):

**Challenge 3**

Write an algorithm that sorts a given list of integers in ascending order

<i> Hint: "bubble sort" is one of the easiest to implement sorting algorithms</i>

In [ ]:
b_sort([6,7,3,5,9,12,3])

[3, 3, 5, 6, 7, 9, 12]

In [ ]:
def b_sort(lst):